.bottom-dl-area
  .bottom-dl-area__contents
    .left-img
      %h2
        スマホでかんたんフリマアプリ
      %p
        今すぐ無料ダウンロード！
      .app-banner-icon.clearfix
        %figure.app-banner-icon__icons-box
          = image_tag("bottom-dl-area/mercari_icon.png", class: "mercari-icon")
        %ul.imgs.clearfix
          %li
            = image_tag("bottom-dl-area/app-store.svg", class: "imgs__store app")
          %li
            = image_tag("bottom-dl-area/google-play.svg", class: "imgs__store google")
    .right-img
      = image_tag("bottom-dl-area/download_content_pc.png")
