.purchase-box {
  width: 960px;
  padding: 80px 20px;
  background-color: #fff;
  margin: 0 auto;
  p {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }
}

.link_to_mypage {
  background: #ea352d;
  color: #fff;
  font-size: 13px;
  width: 100px;
  margin: 40px auto;
  text-align: center;
  padding: 0 18px;
  border-radius: 4px;
  line-height: 30px;
  a {
    text-decoration: none;
    color: #fff;
    text-align: center;
  }
}
