.header-wrapper
= render "header"

.items
.pickup-contents-wrapper
.pickup-contents
  %h2.pickup-contents__title
    %p アイテム一覧 </br></br>
  %section.items-contents
    .items-box-content
      = render partial: 'item', collection: @items, as: :item

.bottom-dl-area-wrapper
= render "bottom-dl-area"
.fotter-wrapper
= render "fotter"
